@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes agrandarImg {
    from {
        transform: scale(1);
        /* Inicia con el tama帽o normal */
    }

    to {
        transform: scale(1.05);
        /* Termina un 10% m谩s grande */
    }
}

@keyframes agrandarSVG {
    from {
        transform: scale(1);
        /* Inicia con el tama帽o normal */
    }

    to {
        transform: scale(1.1);
        /* Termina un 10% m谩s grande */
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(110deg, rgba(22, 39, 65, 1) 0%, rgba(0, 3, 21, 1) 65%, rgba(0, 3, 21, 1) 100%);
    color: whitesmoke;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

header {
    font-weight: 600;
    background: rgba(22, 39, 65, 1);
    border-bottom-right-radius: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px
}

.menu-principal {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    text-decoration: none;
    color: #e6e6e6;
    font-size: 24px;
    display: flex;
    justify-content: start;
}

.title:hover {
    color: #d8d8d8;
    animation: agrandarSVG 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: inline-block;
    /* Necesario para la transformaci贸n */
}

.subOpt {
    text-align: center;
}

.subOptions {
    display: flex;
    justify-content: end;
    align-items: center;
}

.options {
    display: flex;
    width: auto;
    border: whitesmoke solid 1px;
    border-radius: 3px;
    text-decoration: none;
    color: #e6e6e6;
    margin: 4px;
    padding: 5px;
    font-size: 14px;
}

.options:hover {
    color: #d8d8d8;
    animation: agrandarSVG 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: inline-block;
    /* Necesario para la transformaci贸n */
}

@media (max-width: 680px) {
    header {
        height: 90px;
        padding-bottom: 5px;
    }

    .menu-principal {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .subOptions {
        justify-content: center;
    }

    .title {
        display: flex;
        justify-content: center;
    }

    .contInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .img {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .img a {
        width: 325px;

    }

    .video video {
        width: 325px;
    }

}

@media (max-width: 550px) {
    header {
        height: auto;
    }

    .subOptions {
        flex-wrap: wrap;
    }

    .artProyecto a img {
        width: 290px;
    }

    .artProyecto .img {
        width: 225px;
    }

    .video video {
        width: 290px;
    }
}

@media (max-width: 390px) {

    .artProyecto a img {
        width: 225px;
    }

    .artProyecto .img {
        width: 225px;
    }

    .video video {
        width: 225px;
    }
}

main {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contInfo {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 80%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    background-color: #162741;
}

.contInfo img {
    height: 200px;
    margin: 10px;
    border-radius: 8px;
}

.imgInfo img {
    mask-image: linear-gradient(white 30%, transparent 98%);
}

.imgInfo img:hover {
    animation: agrandarImg 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: inline-block;
    /* Necesario para la transformaci贸n */
}

.info {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    background-color: #162741;
}

summary {
    list-style: none;
    cursor: pointer;
    position: relative;
}

details summary::before {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
}

details[open] summary::before {
    transform: rotate(135deg);
}

summary div p {
    padding-left: 20px;
    padding-bottom: 3px;
}

.info .descripcion {
    color: #bcc0b9;
    margin: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
}

.contProyectos {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    background-color: #162741;
}

.proyectos {
    color: #bcc0b9;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.artProyecto {
    width: 400px;
    margin: 3px;
}

.artProyecto a {
    width: 200px;
}

.artProyecto .img a {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

.img a img {
    border-radius: 12px;
    margin: 0;
}

.artProyecto .img {
    display: flex;
    justify-content: center;
}

.artProyecto .video {
    display: flex;
    justify-content: center;
}

.video video {
    border-radius: 8px;
}

.link {
    display: flex;
    justify-content: center;
    margin: 10px;
    border: 0px;
    color: currentColor;
    width: 100%;
    text-align: left;
    background: transparent;
}

.link:hover {
    color: aqua;
}



#show {
    border: none;
    color: currentColor;
    width: 100%;
    font-family: consolas;
    font-size: 14px;
    font-weight: 400;
    background: transparent;
    padding: 7px;
    cursor: pointer;
}

#show:hover {
    color: aqua;
}

#dialog {
    border: 2px solid rgb(122, 122, 122);
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    background: linear-gradient(110deg, rgba(22, 39, 65, 1) 0%, rgba(0, 3, 21, 1) 65%, rgba(0, 3, 21, 1) 100%);
    color: currentColor;
}

#hide {
    border: 0px;
    color: currentColor;
    width: 100%;
    text-align: left;
    background: transparent;
}

#hide:hover {
    color: aqua;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #162741;
}

.redessociales {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes {
    display: flex;
    align-items: center;
}

.redes svg {
    width: 45px;
    margin: 8px;
}

.redes svg:hover {
    animation: agrandarSVG 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: inline-block;
    /* Necesario para la transformaci贸n */
}


.github:hover {
    color: rgb(241, 150, 234);

}

.facebook:hover {
    color: rgb(54, 160, 247);

}

.whatsapp:hover {
    color: #1fdf6f;

}

.email:hover {
    color: rgb(246, 248, 121);

}

footer {
    background: rgba(0, 3, 21, 1);
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
}

footer a:hover {
    color: #d8d8d8;
}